@import "./styles/items.css";
@import url("./styles/header.css");
@import url("./styles/subheader.css");
@import url("styles/loaderStyles.css");
@import url('styles/modalStyles.css');
@import url('styles/cartStyles.css');
@import url('styles/auth.css');
@import url('styles/404.css');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Doppio One', sans-serif;
}

body {
  line-height: 1.5;
  margin: 0;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}